div.title-container {
  display: flex;
}
h3.title-label {
  width: 80%;
}
.buttons-container {
  display: flex;
}

.btn.btn-primary.nav {
  background: transparent;
  border: 3px solid black;
  padding: 0;
  margin-left: 0.5rem;
}
.btn-primary.nav:not(:disabled):not(.disabled):active {
  background: none;
}
.nav {
  height: 4rem;
  width: 4rem;
  overflow: hidden;
}
