.researchtree-background {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
}
.research-container {
  background: rgba(255, 255, 255, 1);
  padding: 5rem;
  margin: 5rem;
}

.research-active {
  background-color: aquamarine;
  border: 1px solid black;
  margin: 1px;
}
.research-disabled {
  color: red;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  margin: 1px;
}
.research-available {
  background-color: azure;
  cursor: pointer;
  border: 1px solid black;
  margin: 1px;
}

.research-modal-title-container {
  display: flex;
}
.research-modal-title-container > h2 {
  width: 100%;
}
.research-modal-close-button {
  float: right;
  border: none;
  background: none;
}
