.background-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
.message-container {
  position: fixed;
  bottom: 1rem;
  border: 1px solid black;
  min-height: 9.5rem;
  margin-right: 0.75rem;
  display: flex;
  background-color: azure;
}
.image-container {
  vertical-align: middle;
  margin: auto;
  height: 100%;
  padding: 0 0.25rem 0 0.25rem;
}
.image-icon {
  width: 8.5rem;
}
.image-full {
  position: fixed;
  bottom: 10.5rem;
  max-height: 22rem;
}
.text-container {
  width: 60rem;
  margin-left: 1rem;
}
.text-container-noface {
  width: 68rem;
  margin-left: 1rem;
}
@media only screen and (max-width: 1199px) {
  .text-container {
    max-width: 50rem;
  }
  .text-container-noface {
    max-width: 56.5rem;
  }
  .message-container {
    margin-right: 0rem;
  }
  @media (max-width: 991px) {
    .text-container {
      max-width: 35rem;
    }
    .text-container-noface {
      max-width: 42rem;
    }
    @media (max-width: 767px) {
      .text-container {
        max-width: 720px;
      }
      @media (max-width: 576px) {
        .text-container {
          max-width: 540px;
        }
      }
    }
  }
}
.hidden {
  display: none;
}
